.card {
  height: 35wrem;
  width: 20rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8x;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.025);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
}

.card img {
  width: 100%;
}

.card p {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.card span {
  font-size: 1.4rem;
}
